.calculator{
  display: flex;
  min-height: 95vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: azure;
  
}


.container{
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  gap: 15px;

}
.display{
    grid-column: 1 / -1 ;
    background-color: #b2b9b7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7px;
    font-size: 4rem;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
}

.display .previousDisplay{
  color: black;
  opacity: 0.75;
  font-size: 2.5rem;
}
.display .currentDisplay{
  font-size: 3.5rem;
  
}
button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  background:#343d46;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background:#c0c5ce;
  text-decoration: none;
}

.operator{
  background-color: #FF9500;
}

/* #zero{
  grid-column: span 2;
} */